.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  padding-top: 40px;
  align-items: center;
  margin-bottom: 10px;
}
.screen__title {
  font-size: 28px;
  font-weight: 600;
}

.screen__icons span {
  margin-left: 25px;
}

.screen__icons {
  position: relative;
}
